<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TreasureGram</title>
</head>
<body>
    <h1>TreasureGram</h1>
{% for treasure in treasures %}
    <a href="/{{treasure.id}}">
        <p>Name: {{ treasure.name }}</p>
  {% if treasure.value > 0 %}
    <p>Value: {{ treasure.value}}</p>
  {% else %}
    <p>Value: Unknown</p>
  {% endif%}
    </a>
    <hr />
{% endfor %}
<footer>
    All rights reserved, TreasureGram 2018
</footer>
</body>
</html>